# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mehme\Desktop\yedek\Ders PDF\2.S\I\Prog 3\bim207-19-hw-sametmert03-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
